<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <response-character-encoding>UTF-8</response-character-encoding>
  <!-- определение servlet'а -->
  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>ru.netology.servlet.MainServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- mapping - привязка к определённому URL-->
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
